<div>
  <div class="container shadow p-3 mb-5 bg-white rounded form-card">
    <div class="card card-title ">
      <div class="card-body">
  <div *ngIf="currentHood.id" class="edit-form">
    <h4>Hood</h4>
    <form>
      <div class="form-group">
        <label for="title">Image</label>
        <input type="file" class="form-control" id="title" [(ngModel)]="currentHood.image" name="image" />
      </div>
      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="currentHood.name" name="name" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="currentHood.hood_desc"
          name="hood_desc" />
      </div>
      <div class="form-group">
        <label for="email">location</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="currentHood.location" name="location" />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label> {{ currentHood.published ? "Published" : "Pending" }}
      </div>
    </form>

    <!-- <button class="badge badge-primary mr-2" *ngIf="currentHood.published" (click)="updatePublished(false)">
      UnPublish
    </button>
    <button *ngIf="!currentHood.published" class="badge badge-primary mr-2" (click)="updatePublished(true)">
      Publish
    </button> -->

    <button class="btn btn-danger" (click)="deleteBusiness()">
      Delete
    </button>

    <button type="submit" class="btn btn-secondary" (click)="updateHood()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  </div>
  </div>
  </div>

  <div *ngIf="!currentHood.id">
    <br />
    <p class="text-center">Loading Posts</p>
  </div>
</div>