<nav class="navbar navbar-expand-lg navbar-light bg-dark" id="nav">
  <!-- Container wrapper -->
  <div class="container-fluid" style="color: whitesmoke;">
    <div class="logo-wrap" style="margin-left: auto; margin-right: auto;">
      <a class="nav-link" href="/home" style="color: whitesmoke; font-size:xx-large;"><strong>Hood Watch</strong></a>
    </div>
    <div class="d-flex align-items-center" id="items">
      <div>
        <a routerLink="/posts" style="text-decoration: none;color: whitesmoke;">Posts</a>
      </div>
      <div style="margin: 1em;">
        <a routerLink="/business" style="text-decoration: none;color: whitesmoke;">Business</a>
      </div>
      <!-- Collapsible wrapper -->
      <a routerLink="/profile">
        <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt=""
          loading="lazy" />
      </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>