<!-- <button (click)="findPosts()">Posts</button>

<div *ngIf="posts.length>0">
  <ul *ngFor="let post of posts">
    <li>post name:{{post.post_name}}</li>
    <li>post content: {{post.post_content}}</li>
    <li>pub date: {{post.pub_date}}</li>
    <li>profile: {{post.profile}}</li>
    <li>hood: {{post.hood}}</li>
  </ul>
</div>

<div class="container shadow p-3 mb-5 bg-white rounded form-card">
  <p>Add post</p>
  <div class="card card-title ">
    <div class="card-body">
      <form [formGroup]="postsForm" (ngSubmit)="onSubmit(postsForm.value);postsForm.reset()" method="POST">
        <input type="text" class="form-control" formControlName="post_name" ngModel placeholder="post name"><br>
        <input type="text" class="form-control" formControlName="post_content" ngModel placeholder="post_content"><br>
        <input type="text" class="form-control" formControlName="profile" ngModel placeholder="profile"><br>
        <input type="text" class="form-control" formControlName="hood" ngModel placeholder="hood"><br>

        <button class="btn btn-sm btn-info mt-4" type="submit">Add Posts</button>
      </form>
    </div>
  </div>
</div>

<div class="container shadow p-3 mb-5 bg-white rounded form-card">
  <p>update post</p>
  <div class="card card-title ">
    <div class="card-body">
      <form [formGroup]="updateForm" (ngSubmit)="updatePosts(updateForm.value.id,updateForm.value);updateForm.reset()"
        method="POST">
        <input type="number" class="form-control" formControlName="id" ngModel placeholder="id"><br>
        <input type="text" class="form-control" formControlName="post_name" ngModel placeholder="post name"><br>
        <input type="text" class="form-control" formControlName="post_content" ngModel placeholder="post_content"><br>
        <input type="number" class="form-control" formControlName="profile" ngModel placeholder="profile"><br>
        <input type="number" class="form-control" formControlName="hood" ngModel placeholder="hood"><br>

        <button class="btn btn-sm btn-info mt-4" type="submit">update post</button>
      </form>
    </div>
  </div>
</div> -->

<div class="list row">
  <div class="col-md-8">

  </div>
  <div class="col-md-6">
    <h4>Posts List</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let posts of posts; let i = index" [class.active]="i == currentIndex"
        (click)="setActivePosts(posts, i)">
        Name:{{ posts.post_name }} content: {{ posts.post_content }} pub_date: {{ posts.pub_date }} profile:{{posts.profile}} hood:{{posts.hood}}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentPosts">
      <h4>Post</h4>
      <div class="container shadow p-3 mb-5 bg-white rounded form-card">
        <div class="card card-title ">
          <div class="card-body">
            <div>
              <label><strong>Post name:</strong></label> {{ currentPosts.post_name }}
            </div>
            <div>
              <label><strong>content:</strong></label> {{ currentPosts.post_content }}
            </div>
            <div>
              <label><strong>profile:</strong></label> {{ currentPosts.profile }}
            </div>
            <div>
              <label><strong>hood:</strong></label> {{ currentPosts.hood }}
            </div>
            <button class="btn btn-info" routerLink="/posts/{{ currentPosts.id }}">
              Edit profile
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!currentPosts">
      <br />
      <p>Please click on a Tutorial...</p>
    </div>
  </div>
</div>