<div class="row">
  <div class="container shadow p-3 mb-5 bg-white rounded form-card">
    <h4 class="text-center">Add hood</h4>
    <div class="card card-title ">
      <div class="card-body">
        <form [formGroup]="hoodForm" (ngSubmit)="onSubmit(hoodForm.value);hoodForm.reset()" method="POST">
          <input type="text" class="form-control" ngModel placeholder="hood name" formControlName="name"><br>
          <input type="text" class="form-control" formControlName="hood_desc" ngModel
            placeholder="hood description"><br>
          <input type="text" class="form-control" formControlName="location" ngModel placeholder="location"><br>
          <button class="btn btn-sm btn-info mt-4" type="submit">Add Hood</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h4 class="text-center mt-3">Hoods List</h4>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div *ngFor="let hood of hood; let i = index" [class.active]="i == currentIndex" (click)="setActiveHood(hood, i)">
      <div class="container shadow p-3 mb-5 bg-white rounded form-card" routerLink="/hood/{{ hood.id }}">
        <div class="card card-title ">
          <div class="card-header">
            <img src="http://res.cloudinary.com/burens/{{ hood.image }}" id="hood-img" alt="...">
          </div>
          <div class="card-body">
            <h6><strong>Name:{{ hood.name }}</strong></h6>
            <h6><strong>Desc: {{ hood.hood_desc }}</strong></h6>
            <h6><strong>location: {{ hood.location }}</strong></h6>
          </div>
        </div>
        <button class="btn btn-secondary"> update</button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>